In [1]:
# Importing the packages
using Pkg
using DataFrames
using CSV
using Plots
using GLM
using StatsBase
using Lathe
using MLBase
using ClassImbalance
using ROCAnalysis

# Enable printing of 1000 columns
ENV["COLUMNS"] = 1000

1000

In [4]:
# Load the dataset
df = DataFrame(CSV.File("Churn_Modelling.csv"))
first(df,5)

5×14 typename(DataFrame)
│ Row │ RowNumber │ CustomerId │ Surname  │ CreditScore │ Geography │ Gender │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │
│     │ Int64     │ Int64      │ String   │ Int64       │ String    │ String │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │
├─────┼───────────┼────────────┼──────────┼─────────────┼───────────┼────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┤
│ 1   │ 1         │ 15634602   │ Hargrave │ 619         │ France    │ Female │ 42    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │
│ 2   │ 2         │ 15647311   │ Hill     │ 608         │ Spain     │ Female │ 41    │ 1      │ 83807.9   │ 1             │ 0         │ 1              │ 1.12543e5       │ 0      │
│ 3   │ 3         │ 15619304   │ Onio     │ 502         │ France    │ Female │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │ 0              │ 1.13932e5       │ 1      │
│ 4   │ 4         │ 15701354   │ Boni     │ 699         │ France    │ Female │ 39    │ 1      │ 0.0       │ 2             │ 0         │ 0              │ 93826.6         │ 0      │
│ 5   │ 5         │ 15737888   │ Mitchell │ 850         │ Spain     │ Female │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │ 1              │ 79084.1         │ 0      │

In [7]:
println(size(df))
describe(df)

(10000, 14)

14×8 typename(DataFrame)
│ Row │ variable        │ mean      │ min      │ median    │ max       │ nunique │ nmissing │ eltype   │
│     │ Symbol          │ Union…    │ Any      │ Union…    │ Any       │ Union…  │ Nothing  │ DataType │
├─────┼─────────────────┼───────────┼──────────┼───────────┼───────────┼─────────┼──────────┼──────────┤
│ 1   │ RowNumber       │ 5000.5    │ 1        │ 5000.5    │ 10000     │         │          │ Int64    │
│ 2   │ CustomerId      │ 1.56909e7 │ 15565701 │ 1.56907e7 │ 15815690  │         │          │ Int64    │
│ 3   │ Surname         │           │ Abazu    │           │ Zuyeva    │ 2932    │          │ String   │
│ 4   │ CreditScore     │ 650.529   │ 350      │ 652.0     │ 850       │         │          │ Int64    │
│ 5   │ Geography       │           │ France   │           │ Spain     │ 3       │          │ String   │
│ 6   │ Gender          │           │ Female   │           │ Male      │ 2       │          │ String   │
│ 7   │ Age             │ 38.9218   │ 18       │ 37.0      │ 92        │         │          │ Int64    │
│ 8   │ Tenure          │ 5.0128    │ 0        │ 5.0       │ 10        │         │          │ Int64    │
│ 9   │ Balance         │ 76485.9   │ 0.0      │ 97198.5   │ 2.50898e5 │         │          │ Float64  │
│ 10  │ NumOfProducts   │ 1.5302    │ 1        │ 1.0       │ 4         │         │          │ Int64    │
│ 11  │ HasCrCard       │ 0.7055    │ 0        │ 1.0       │ 1         │         │          │ Int64    │
│ 12  │ IsActiveMember  │ 0.5151    │ 0        │ 1.0       │ 1         │         │          │ Int64    │
│ 13  │ EstimatedSalary │ 1.0009e5  │ 11.58    │ 1.00194e5 │ 1.99992e5 │         │          │ Float64  │
│ 14  │ Exited          │ 0.2037    │ 0        │ 0.0       │ 1         │         │          │ Int64    │

In [8]:
names(df)

14-element Vector{Symbol}:
 :RowNumber
 :CustomerId
 :Surname
 :CreditScore
 :Geography
 :Gender
 :Age
 :Tenure
 :Balance
 :NumOfProducts
 :HasCrCard
 :IsActiveMember
 :EstimatedSalary
 :Exited

In [9]:
countmap(df.Exited)

Dict{Int64, Int64} with 2 entries:
  0 => 7963
  1 => 2037

In [19]:
# One Hot Encoding
Lathe.preprocess.OneHotEncode(df,:Geography)
Lathe.preprocess.OneHotEncode(df,:Gender)
select!(df,Not([:RowNumber, :CustomerId, :Surname, :Geography, :Gender, :Male]))
first(df,10)

10×13 typename(DataFrame)
│ Row │ CreditScore │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │ France │ Spain │ Germany │ Female │
│     │ Int64       │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │ Bool   │ Bool  │ Bool    │ Bool   │
├─────┼─────────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┼────────┼───────┼─────────┼────────┤
│ 1   │ 619         │ 42    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 2   │ 608         │ 41    │ 1      │ 83807.9   │ 1             │ 0         │ 1              │ 1.12543e5       │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 3   │ 502         │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │ 0              │ 1.13932e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 4   │ 699         │ 39    │ 1      │ 0.0       │ 2             │ 0         │ 0              │ 93826.6         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 5   │ 850         │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │ 1              │ 79084.1         │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 6   │ 645         │ 44    │ 8      │ 1.13756e5 │ 2             │ 1         │ 0              │ 1.49757e5       │ 1      │ 0      │ 1     │ 0       │ 0      │
│ 7   │ 822         │ 50    │ 7      │ 0.0       │ 2             │ 1         │ 1              │ 10062.8         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 8   │ 376         │ 29    │ 4      │ 1.15047e5 │ 4             │ 1         │ 0              │ 1.19347e5       │ 1      │ 0      │ 0     │ 1       │ 1      │
│ 9   │ 501         │ 44    │ 4      │ 1.42051e5 │ 2             │ 0         │ 1              │ 74940.5         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 10  │ 684         │ 27    │ 2      │ 1.34604e5 │ 1             │ 1         │ 1              │ 71725.7         │ 0      │ 1      │ 0     │ 0       │ 0      │

In [20]:
# Train Test Splitting
using Lathe.preprocess: TrainTestSplit
train, test = TrainTestSplit(df,.75)

(7419×13 typename(DataFrame)
│ Row  │ CreditScore │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │ France │ Spain │ Germany │ Female │
│      │ Int64       │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │ Bool   │ Bool  │ Bool    │ Bool   │
├──────┼─────────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┼────────┼───────┼─────────┼────────┤
│ 1    │ 608         │ 41    │ 1      │ 83807.9   │ 1             │ 0         │ 1              │ 1.12543e5       │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 2    │ 850         │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │ 1              │ 79084.1         │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 3    │ 645         │ 44    │ 8      │ 1.13756e5 │ 2             │ 1         │ 0              │ 1.49757e5       │ 1      │ 0      │ 1     │ 0       │ 0      │
│ 4    │ 376         │ 29    │ 4      │ 1.15047e5 │ 4             │ 1         │ 0              │ 1.19347e5       │ 1      │ 0      │ 0     │ 1       │ 1      │
│ 5    │ 684         │ 27    │ 2      │ 1.34604e5 │ 1             │ 1         │ 1              │ 71725.7         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 6    │ 528         │ 31    │ 6      │ 1.02017e5 │ 2             │ 0         │ 0              │ 80181.1         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7    │ 497         │ 24    │ 3      │ 0.0       │ 2             │ 1         │ 0              │ 76390.0         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 8    │ 549         │ 25    │ 5      │ 0.0       │ 2             │ 0         │ 0              │ 1.90858e5       │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 9    │ 616         │ 45    │ 3      │ 1.43129e5 │ 2             │ 0         │ 1              │ 64327.3         │ 0      │ 0      │ 0     │ 1       │ 0      │
│ 10   │ 653         │ 58    │ 1      │ 1.32603e5 │ 1             │ 1         │ 0              │ 5097.67         │ 1      │ 0      │ 0     │ 1       │ 0      │
⋮
│ 7409 │ 606         │ 30    │ 8      │ 1.80308e5 │ 2             │ 1         │ 1              │ 1914.41         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 7410 │ 775         │ 30    │ 4      │ 0.0       │ 2             │ 1         │ 0              │ 49337.8         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7411 │ 841         │ 28    │ 4      │ 0.0       │ 2             │ 1         │ 1              │ 1.79437e5       │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 7412 │ 714         │ 33    │ 3      │ 35016.6   │ 1             │ 1         │ 0              │ 53667.1         │ 0      │ 0      │ 0     │ 1       │ 0      │
│ 7413 │ 597         │ 53    │ 4      │ 88381.2   │ 1             │ 1         │ 0              │ 69384.7         │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 7414 │ 726         │ 36    │ 2      │ 0.0       │ 1             │ 1         │ 0              │ 1.95192e5       │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 7415 │ 644         │ 28    │ 7      │ 1.5506e5  │ 1             │ 1         │ 0              │ 29179.5         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7416 │ 771         │ 39    │ 5      │ 0.0       │ 2             │ 1         │ 0              │ 96270.6         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7417 │ 516         │ 35    │ 10     │ 57369.6   │ 1             │ 1         │ 1              │ 1.017e5         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 7418 │ 709         │ 36    │ 7      │ 0.0       │ 1             │ 0         │ 1              │ 42085.6         │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 7419 │ 772         │ 42    │ 3      │ 75075.3   │ 2             │ 1         │ 0              │ 92888.5         │ 1      │ 0      │ 0     │ 1       │ 0      │, 2581×13 typename(DataFrame)
│ Row  │ CreditScore │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │ France │ Spain │ Germany │ Female │
│      │ Int64       │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │ Bool   │ Bool  │ Bool    │ Bool   │
├──────┼─────────────┼───────┼────────┼───────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┼────────┼───────┼─────────┼────────┤
│ 1    │ 619         │ 42    │ 2      │ 0.0       │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 2    │ 502         │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │ 0              │ 1.13932e5       │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 3    │ 699         │ 39    │ 1      │ 0.0       │ 2             │ 0         │ 0              │ 93826.6         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 4    │ 822         │ 50    │ 7      │ 0.0       │ 2             │ 1         │ 1              │ 10062.8         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 5    │ 501         │ 44    │ 4      │ 1.42051e5 │ 2             │ 0         │ 1              │ 74940.5         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 6    │ 476         │ 34    │ 10     │ 0.0       │ 2             │ 1         │ 0              │ 26261.0         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 7    │ 635         │ 35    │ 7      │ 0.0       │ 2             │ 1         │ 1              │ 65951.6         │ 0      │ 0      │ 1     │ 0       │ 1      │
│ 8    │ 726         │ 24    │ 6      │ 0.0       │ 2             │ 1         │ 1              │ 54724.0         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 9    │ 732         │ 41    │ 8      │ 0.0       │ 2             │ 1         │ 1              │ 1.70886e5       │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 10   │ 510         │ 38    │ 4      │ 0.0       │ 1             │ 1         │ 0              │ 1.18914e5       │ 1      │ 0      │ 1     │ 0       │ 1      │
⋮
│ 2571 │ 520         │ 46    │ 10     │ 85216.6   │ 1             │ 1         │ 0              │ 1.1737e5        │ 1      │ 1      │ 0     │ 0       │ 1      │
│ 2572 │ 537         │ 37    │ 6      │ 0.0       │ 1             │ 1         │ 1              │ 17802.4         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 2573 │ 573         │ 44    │ 9      │ 0.0       │ 2             │ 1         │ 0              │ 1.07124e5       │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 2574 │ 479         │ 35    │ 4      │ 125921.0  │ 1             │ 1         │ 1              │ 20393.4         │ 0      │ 0      │ 1     │ 0       │ 0      │
│ 2575 │ 610         │ 50    │ 1      │ 113957.0  │ 2             │ 1         │ 0              │ 1.96527e5       │ 1      │ 0      │ 0     │ 1       │ 0      │
│ 2576 │ 774         │ 40    │ 9      │ 93017.5   │ 2             │ 1         │ 0              │ 191609.0        │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 2577 │ 677         │ 58    │ 1      │ 90022.9   │ 1             │ 0         │ 1              │ 2988.28         │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 2578 │ 655         │ 46    │ 7      │ 1.37145e5 │ 1             │ 1         │ 0              │ 1.15146e5       │ 1      │ 0      │ 0     │ 1       │ 1      │
│ 2579 │ 659         │ 36    │ 6      │ 1.23841e5 │ 2             │ 1         │ 0              │ 96833.0         │ 0      │ 1      │ 0     │ 0       │ 0      │
│ 2580 │ 800         │ 29    │ 2      │ 0.0       │ 2             │ 0         │ 0              │ 1.67774e5       │ 0      │ 1      │ 0     │ 0       │ 1      │
│ 2581 │ 792         │ 28    │ 4      │ 1.30143e5 │ 1             │ 1         │ 0              │ 38190.8         │ 0      │ 1      │ 0     │ 0       │ 1      │)

## Model Building

In [21]:
first(df)

DataFrameRow
│ Row │ CreditScore │ Age   │ Tenure │ Balance │ NumOfProducts │ HasCrCard │ IsActiveMember │ EstimatedSalary │ Exited │ France │ Spain │ Germany │ Female │
│     │ Int64       │ Int64 │ Int64  │ Float64 │ Int64         │ Int64     │ Int64          │ Float64         │ Int64  │ Bool   │ Bool  │ Bool    │ Bool   │
├─────┼─────────────┼───────┼────────┼─────────┼───────────────┼───────────┼────────────────┼─────────────────┼────────┼────────┼───────┼─────────┼────────┤
│ 1   │ 619         │ 42    │ 2      │ 0.0     │ 1             │ 1         │ 1              │ 1.01349e5       │ 1      │ 1      │ 0     │ 0       │ 1      │

In [22]:
fm = @formula(Exited ~ CreditScore + Age + Tenure + Balance + NumOfProducts + HasCrCard + IsActiveMember + EstimatedSalary + France + Spain + Female)
logistic = glm(fm, train, Binomial(), ProbitLink())

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Binomial{Float64}, ProbitLink}, GLM.DensePredChol{Float64, LinearAlgebra.Cholesky{Float64, Matrix{Float64}}}}, Matrix{Float64}}

Exited ~ 1 + CreditScore + Age + Tenure + Balance + NumOfProducts + HasCrCard + IsActiveMember + EstimatedSalary + France + Spain + Female

Coefficients:
───────────────────────────────────────────────────────────────────────────────────────
                        Coef.   Std. Error       z  Pr(>|z|)     Lower 95%    Upper 95%
───────────────────────────────────────────────────────────────────────────────────────
(Intercept)      -1.91922      0.167726     -11.44    <1e-29  -2.24795      -1.59048
CreditScore      -0.000392382  0.000186009   -2.11    0.0349  -0.000756952  -2.78116e-5
Age               0.0423363    0.00169851    24.93    <1e-99   0.0390073     0.0456653
Tenure           -0.0039426    0.00614484    -0.64    0.5211  -0.0159863     0.00810107
Balance           1.83339e-6   3.37909e-7     5.43    <1e-07   1.1711e-6     2.49568e-6
NumOfProducts    -0.0565178    0.0316842     -1.78    0.0745  -0.118618      0.00558214
HasCrCard        -0.0212052    0.0390288     -0.54    0.5869  -0.0977003     0.0552899
IsActiveMember   -0.590312     0.0371203    -15.90    <1e-56  -0.663067     -0.517558
EstimatedSalary   2.38429e-7   3.13999e-7     0.76    0.4477  -3.76998e-7    8.53856e-7
France           -0.443417     0.045164      -9.82    <1e-22  -0.531937     -0.354897
Spain            -0.404236     0.0522955     -7.73    <1e-13  -0.506733     -0.301739
Female            0.304751     0.0358809      8.49    <1e-16   0.234426      0.375077
───────────────────────────────────────────────────────────────────────────────────────

## Prediction and Evaluation

In [23]:
prediction = predict(logistic, test)

2581-element Vector{Union{Missing, Float64}}:
 0.1201182458186032
 0.3522898188765328
 0.21897886981226367
 0.09373403688056439
 0.1277204089438332
 0.16536981416150381
 0.06393970529594005
 0.01961151276650637
 0.051612450274931845
 0.24978219674412305
 0.08214045031291889
 0.03158792326629185
 0.16608906028176412
 ⋮
 0.017549439116784946
 0.4023077451172583
 0.04509998177105662
 0.20336254082595934
 0.06974240218653867
 0.5302306075299398
 0.1771230015438225
 0.3620328386819123
 0.5985400783479266
 0.1574813100268641
 0.11029670236776096
 0.15173615491930442

In [26]:
# converting classes i.e. 0 or 1. Probability score less than 0.5 would be treated as 0 and greater than 0.5 as 1.
prediction_class = [if x < 0.5 0 else 1 end for x in prediction];

prediction_df = DataFrame(y_actual = test.Exited, y_predicted = prediction_class, prob_predicted = prediction)
prediction_df.correctly_classified = prediction_df.y_actual .== prediction_df.y_predicted

2581-element BitVector:
 0
 0
 1
 1
 1
 1
 1
 1
 1
 0
 1
 1
 1
 ⋮
 1
 0
 1
 1
 1
 1
 1
 1
 1
 1
 1
 1

In [27]:
# Accuracy Score
accuracy = mean(prediction_df.correctly_classified)

0.8020147229755908

In [28]:
# Confusion Matrix
confusion_matrix = MLBase.roc(prediction_df.y_actual, prediction_df.y_predicted)

ROCNums{Int64}
  p = 530
  n = 2051
  tp = 105
  tn = 1965
  fp = 86
  fn = 425